@model IEnumerable<Restaurant_Manager_4.Models.tin_tuc>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
{
    @Html.ActionLink("Tạo tin tức", "Create", "TinTucController", new { @class = "btn amado-btn mb-15" })
}
@if (Model.Count() == 0)
{
    <p>Chưa có bài viết nào ở đây cả</p>
}
else
{
    <h1 class="news-title">Danh sách các tin</h1>
    <div class="news-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.tieu_de)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.user.ten_nguoi_dung) | @Html.DisplayFor(modelItem => item.ngay_viet)</h6>
                <p class="card-text">@Html.DisplayFor(modelItem => item.noi_dung)</p>
            </div>
        </div>
        if (System.Web.HttpContext.Current.User.IsInRole("Admin"))
        {
            <div>
                @Html.ActionLink("Chỉnh sửa tin", "Edit", new { id = item.id }) |
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.id }) |
                @Html.ActionLink("Xoá tin tức", "Delete", new { id = item.id })
            </div>
        }
    }
    </div>
}

<style>
    .news-title {
        font-weight: bold;
    }
    .news-container {
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    h5.card-title {
        font-size: 2rem;
        font-weight: bold;
    }

    h6.card-subtitle {
        font-size: 1.5rem;
    }
</style>
